<a class="lt-skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<svg hidden xmlns="http://www.w3.org/2000/svg">
  <symbol id="icon-chevron-down">
    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
  </symbol>
  <symbol id="icon-article">
    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z" />
  </symbol>
  <symbol id="icon-post">
    <path stroke-linecap="round" stroke-linejoin="round" d="M10.34 15.84c-.688-.06-1.386-.09-2.09-.09H7.5a4.5 4.5 0 110-9h.75c.704 0 1.402-.03 2.09-.09m0 9.18c.253.962.584 1.892.985 2.783.247.55.06 1.21-.463 1.511l-.657.38c-.551.318-1.26.117-1.527-.461a20.845 20.845 0 01-1.44-4.282m3.102.069a18.03 18.03 0 01-.59-4.59c0-1.586.205-3.124.59-4.59m0 9.18a23.848 23.848 0 018.835 2.535M10.34 6.66a23.847 23.847 0 008.835-2.535m0 0A23.74 23.74 0 0018.795 3m.38 1.125a23.91 23.91 0 011.014 5.395m-1.014 8.855c-.118.38-.245.754-.38 1.125m.38-1.125a23.91 23.91 0 001.014-5.395m0-3.46c.495.413.811 1.035.811 1.73 0 .695-.316 1.317-.811 1.73m0-3.46a24.347 24.347 0 010 3.46" />
  </symbol>
  <symbol id="icon-comment">
    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.068.157 2.148.279 3.238.364.466.037.893.281 1.153.671L12 21l2.652-3.978c.26-.39.687-.634 1.153-.67 1.09-.086 2.17-.208 3.238-.365 1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
  </symbol>
  <symbol id="icon-user">
    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-5.5-2.5a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zM10 12a5.99 5.99 0 00-4.793 2.39A6.483 6.483 0 0010 16.5a6.483 6.483 0 004.793-2.11A5.99 5.99 0 0010 12z" clip-rule="evenodd" />
  </symbol>
  <symbol id="hand-thumb-down">
    <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 15h2.25m8.024-9.75c.011.05.028.1.052.148.591 1.2.924 2.55.924 3.977a8.96 8.96 0 01-.999 4.125m.023-8.25c-.076-.365.183-.75.575-.75h.908c.889 0 1.713.518 1.972 1.368.339 1.11.521 2.287.521 3.507 0 1.553-.295 3.036-.831 4.398C20.613 14.547 19.833 15 19 15h-1.053c-.472 0-.745-.556-.5-.96a8.95 8.95 0 00.303-.54m.023-8.25H16.48a4.5 4.5 0 01-1.423-.23l-3.114-1.04a4.5 4.5 0 00-1.423-.23H6.504c-.618 0-1.217.247-1.605.729A11.95 11.95 0 002.25 12c0 .434.023.863.068 1.285C2.427 14.306 3.346 15 4.372 15h3.126c.618 0 .991.724.725 1.282A7.471 7.471 0 007.5 19.5a2.25 2.25 0 002.25 2.25.75.75 0 00.75-.75v-.633c0-.573.11-1.14.322-1.672.304-.76.93-1.33 1.653-1.715a9.04 9.04 0 002.86-2.4c.498-.634 1.226-1.08 2.032-1.08h.384" />
  </symbol>
  <symbol id="hand-thumb-up">
    <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z" />
  </symbol>
  <symbol id="icon-menu">
    <path d="M17.25 12C17.25 11.8011 17.329 11.6103 17.4697 11.4697C17.6103 11.329 17.8011 11.25 18 11.25C18.1989 11.25 18.3897 11.329 18.5303 11.4697C18.671 11.6103 18.75 11.8011 18.75 12C18.75 12.1989 18.671 12.3897 18.5303 12.5303C18.3897 12.671 18.1989 12.75 18 12.75C17.8011 12.75 17.6103 12.671 17.4697 12.5303C17.329 12.3897 17.25 12.1989 17.25 12ZM11.25 12C11.25 11.8011 11.329 11.6103 11.4697 11.4697C11.6103 11.329 11.8011 11.25 12 11.25C12.1989 11.25 12.3897 11.329 12.5303 11.4697C12.671 11.6103 12.75 11.8011 12.75 12C12.75 12.1989 12.671 12.3897 12.5303 12.5303C12.3897 12.671 12.1989 12.75 12 12.75C11.8011 12.75 11.6103 12.671 11.4697 12.5303C11.329 12.3897 11.25 12.1989 11.25 12ZM5.25 12C5.25 11.8011 5.32902 11.6103 5.46967 11.4697C5.61032 11.329 5.80109 11.25 6 11.25C6.19891 11.25 6.38968 11.329 6.53033 11.4697C6.67098 11.6103 6.75 11.8011 6.75 12C6.75 12.1989 6.67098 12.3897 6.53033 12.5303C6.38968 12.671 6.19891 12.75 6 12.75C5.80109 12.75 5.61032 12.671 5.46967 12.5303C5.32902 12.3897 5.25 12.1989 5.25 12Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </symbol>
   <symbol id="icon-search">
    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
  </symbol>
</svg>

<div class="lt-layout">
  <div class="lt-container header-info">
    <div class="header-info-wrapper lt-container-inner lt-align-items-center lt-w-100">
      <div class="rating-wrapper lt-d-flex lt-align-items-center">
        <span class="font-w-700 rating">Sehr gut</span>
        <svg width="107" height="20" viewBox="0 0 107 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20 0H0V20H20V0Z" fill="#219653"/>
          <path d="M41.6667 0H21.6667V20H41.6667V0Z" fill="#219653"/>
          <path d="M63.3333 0H43.3333V20H63.3333V0Z" fill="#219653"/>
          <path d="M85 0H65V20H85V0Z" fill="#219653"/>
          <path d="M106.667 0H86.6667V20H106.667V0Z" fill="#219653"/>
          <path d="M9.99973 13.479L13.0414 12.7082L14.3122 16.6249L9.99973 13.479ZM16.9997 8.41653H11.6456L9.99973 3.37487L8.35389 8.41653H2.99973L7.33306 11.5415L5.68723 16.5832L10.0206 13.4582L12.6872 11.5415L16.9997 8.41653Z" fill="white"/>
          <path d="M31.6664 13.479L34.7081 12.7082L35.9789 16.6249L31.6664 13.479ZM38.6664 8.41653H33.3122L31.6664 3.37487L30.0206 8.41653H24.6664L28.9997 11.5415L27.3539 16.5832L31.6872 13.4582L34.3539 11.5415L38.6664 8.41653Z" fill="white"/>
          <path d="M53.3331 13.479L56.3747 12.7082L57.6456 16.6249L53.3331 13.479ZM60.3331 8.41653H54.9789L53.3331 3.37487L51.6872 8.41653H46.3331L50.6664 11.5415L49.0206 16.5832L53.3539 13.4582L56.0206 11.5415L60.3331 8.41653Z" fill="white"/>
          <path d="M74.9997 13.479L78.0414 12.7082L79.3122 16.6249L74.9997 13.479ZM81.9997 8.41653H76.6456L74.9997 3.37487L73.3539 8.41653H67.9997L72.3331 11.5415L70.6872 16.5832L75.0206 13.4582L77.6872 11.5415L81.9997 8.41653Z" fill="white"/>
          <path d="M96.6664 13.479L99.708 12.7082L100.979 16.6249L96.6664 13.479ZM103.666 8.41653H98.3122L96.6664 3.37487L95.0206 8.41653H89.6664L93.9997 11.5415L92.3539 16.5832L96.6872 13.4582L99.3539 11.5415L103.666 8.41653Z" fill="white"/>
        </svg>
        <span class="lt-d-flex lt-align-items-center lt-gap-2s">
          <span class="lt-text-sm">
            <span class="font-w-700 lt-text-sm">4K</span>+
          </span>
          <span class="review-text lt-align-items-center lt-gap-2">
            <span>Bewertungen</span>
            <span class="lt-d-flex lt-align-items-center">
              <svg class="lt-mr-xs" width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.66666 10.4792L10.7083 9.70833L11.9792 13.625L7.66666 10.4792ZM14.6667 5.41667H9.31249L7.66666 0.374999L6.02082 5.41667H0.666656L4.99999 8.54167L3.35415 13.5833L7.68749 10.4583L10.3542 8.54167L14.6667 5.41667Z" fill="#219653"/>
              </svg>
              <span class="font-w-700">Trustpilot</span>
            </span>
          </span>
        </span>
      </div>

      <div class="custom-info lt-align-items-center lt-justify-content-center lt-gap-2 font-w-600">
        <img src="{{asset 'header_custom_icon.png'}}" alt="Country icon">
        <span>Designed in Norway</span>
      </div>

      <div class="support-info lt-d-flex lt-align-items-center lt-justify-content-end lt-gap-3" data-status>
        <div class="support-text lt-d-flex lt-flex-column lt-align-items-end">
          <span class="support-status font-w-500" data-time-zone="{{settings.store_timezone}}">
            Support <span class="status"></span>
          </span>
          <span class="support-number font-w-600">+49 661 410875</span> 
        </div>
        <div class="lt-position-relative">
          <img src="{{asset 'support_image.png'}}" alt="Support image">
          <div class="status-indicator lt-position-absolute"></div>
        </div>
      </div>
    </div>
  </div>

  <header class="lt-topbar lt-container lt-d-print-none lt-topbar--padding" data-topbar>
    <div class="lt-topbar-wrapper lt-container-inner lt-align-items-center lt-justify-content-between lt-w-100">
      <div class="lt-topbar__logo-wrapper lt-d-flex lt-align-items-center">
        <a href="https://pergolux.de/">
          <img class="lt-topbar__logo lt-flex-shrink-0" src="{{settings.logo}}" alt="{{t 'logo'}}">
        </a>
        {{#if settings.help_center_name}}
          <div class="lt-d-none lt-d-sm-inline-flex lt-ms-3">
            {{#if settings.toggle_translations}}
              {{dc settings.help_center_name}}
            {{else}}
              {{settings.help_center_name}}
            {{/if}}
          </div>
        {{/if}}
      </div>

      <div 
      	class="custom-header-nav"
        id="mobile-menu"
        x-data="{}"
        x-bind:class="{'is-active': $store.mobileMenu.isOpen}"
        x-on:keydown.escape="$store.mobileMenu.isOpen = false"    
      >
        <ul class="main-nav lt-align-items-center lt-gap-2">
          {{#if settings.topbar_link_1_title}}
          	<a href="https://pergolux.ch/collections/unsere-pergolen">{{settings.topbar_link_1_title}}</a>

            {{!-- <a class="lt-topbar__link"
                href="{{#if settings.toggle_translations}}{{dc settings.topbar_link_1_url}}{{else}}{{settings.topbar_link_1_url}}{{/if}}">
              {{#if settings.toggle_translations}}
                {{dc settings.topbar_link_1_title}}
              {{else}}
                {{settings.topbar_link_1_title}}
              {{/if}}
            </a> --}}
          {{/if}}

          {{#if settings.topbar_link_2_title}}
            <a href="{{#if settings.toggle_translations}}{{dc settings.topbar_link_2_url}}{{else}}{{settings.topbar_link_2_url}}{{/if}}">
              {{#if settings.toggle_translations}}
                {{dc settings.topbar_link_2_title}}
              {{else}}
                {{settings.topbar_link_2_title}}
              {{/if}}
            </a>
          {{/if}}

          {{#if settings.topbar_link_3_title}}
            <a href="{{#if settings.toggle_translations}}{{dc settings.topbar_link_3_url}}{{else}}{{settings.topbar_link_3_url}}{{/if}}">
              {{#if settings.toggle_translations}}
                {{dc settings.topbar_link_3_title}}
              {{else}}
                {{settings.topbar_link_3_title}}
              {{/if}}
            </a>
          {{/if}}

          {{#if settings.topbar_link_4_title}}
            <a href="{{#if settings.toggle_translations}}{{dc settings.topbar_link_4_url}}{{else}}{{settings.topbar_link_4_url}}{{/if}}">
              {{#if settings.toggle_translations}}
                {{dc settings.topbar_link_4_title}}
              {{else}}
                {{settings.topbar_link_4_title}}
              {{/if}}
            </a>
          {{/if}}
          
          {{#if settings.show_submit_a_request}}
            {{link 'new_request' class='lt-btn lt-btn--topbar lt-btn--mobile-only btn-topbar-request'}}
          {{/if}}
        </ul>
      </div>

      <button
        class="lt-menu-toggle"
        aria-label="{{t 'toggle_navigation'}}"
        aria-controls="mobile-menu"
        x-data="{}"
        x-bind:aria-expanded="$store.mobileMenu.isOpen"
        x-bind:class="{'is-active': $store.mobileMenu.isOpen}"
        x-on:click="$store.mobileMenu.isOpen = !$store.mobileMenu.isOpen"
        x-on:keydown.escape="$store.mobileMenu.isOpen = false"
        >
        <svg aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" class="lt-menu-toggle__icon lt-menu-toggle__icon--default">
          <path d="M19 10L5 10" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
          <path d="M19 14L5 14" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
          <path d="M19 6L5 6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
          <path d="M19 18L5 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
        </svg>
        
        <svg aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" class="lt-menu-toggle__icon lt-menu-toggle__icon--close">
          <path d="M18.9999 5.00006L5 19M4.99994 5L18.9999 18.9999" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
        </svg>
      </button>

      <nav class="lt-topbar__controls lt-d-flex lt-flex-column lt-align-items-start lt-flex-lg-row lt-align-items-lg-center lt-justify-content-end">
        {{!-- {{#if settings.topbar_link_1_title}}
          <a class="lt-topbar__link"
              href="{{#if settings.toggle_translations}}{{dc settings.topbar_link_1_url}}{{else}}{{settings.topbar_link_1_url}}{{/if}}">
            {{#if settings.toggle_translations}}
              {{dc settings.topbar_link_1_title}}
            {{else}}
              {{settings.topbar_link_1_title}}
            {{/if}}
          </a>
        {{/if}} --}}

        {{!-- {{#if settings.topbar_link_2_title}}
          <a class="lt-topbar__link"
              href="{{#if settings.toggle_translations}}{{dc settings.topbar_link_2_url}}{{else}}{{settings.topbar_link_2_url}}{{/if}}">
            {{#if settings.toggle_translations}}
              {{dc settings.topbar_link_2_title}}
            {{else}}
              {{settings.topbar_link_2_title}}
            {{/if}}
          </a>
        {{/if}} --}}

        {{!-- {{#if settings.topbar_link_3_title}}
          <a class="lt-topbar__link"
              href="{{#if settings.toggle_translations}}{{dc settings.topbar_link_3_url}}{{else}}{{settings.topbar_link_3_url}}{{/if}}">
            {{#if settings.toggle_translations}}
              {{dc settings.topbar_link_3_title}}
            {{else}}
              {{settings.topbar_link_3_title}}
            {{/if}}
          </a>
        {{/if}} --}}

        {{!-- {{#if settings.topbar_link_4_title}}
          <a class="lt-topbar__link"
              href="{{#if settings.toggle_translations}}{{dc settings.topbar_link_4_url}}{{else}}{{settings.topbar_link_4_url}}{{/if}}">
            {{#if settings.toggle_translations}}
              {{dc settings.topbar_link_4_title}}
            {{else}}
              {{settings.topbar_link_4_title}}
            {{/if}}
          </a>
        {{/if}} --}}

        {{#if settings.show_category_menu}}
        <div class="lt-dropdown lt-dropdown--topbar"
            x-data="categoryMenu()"
            x-cloak
          >
          <button class="lt-dropdown-toggle" aria-haspopup="true" x-show="categories.length > 1">
            <span>{{t 'categories'}}</span>
            <svg class="lt-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
              <use xlink:href="#icon-chevron-down"></use>
            </svg>
          </button>
          <span class="lt-dropdown-menu lt-dropdown-menu--topbar" role="menu">
            <template x-for="(category, index) in categories" :key="index">
              <a :href="category.html_url" x-text="category.name" rel="nofollow" role="menuitem">
              </a>
            </template>
          </span>
        </div>
        {{/if}}

        {{#if alternative_locales}}
          <div class="lt-dropdown lt-dropdown--topbar lt-dropdown--language-selector language-selector">
            <button class="lt-dropdown-toggle" aria-haspopup="true">
              <svg class="lt-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
              </svg>
              <span>{{current_locale.name}}</span>
              <svg class="lt-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                <use xlink:href="#icon-chevron-down"></use>
              </svg>
            </button>
            <span class="lt-dropdown-menu lt-dropdown-menu--topbar" role="menu">
              {{#each alternative_locales}}
                <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                  {{name}}
                </a>
              {{/each}}
            </span>
          </div>
        {{/if}}
        {{#if settings.show_submit_a_request}}
          {{link 'new_request' class='lt-btn lt-btn--topbar btn-topbar-request'}}
        {{/if}}
        {{#if signed_in}}
          <div id="user" class="lt-dropdown lt-user-info" >
            <button class="lt-dropdown-toggle lt-dropdown-toggle--user" aria-haspopup="true">
              <span class="lt-avatar">
                {{user_avatar class="lt-user-avatar lt-user-avatar--topbar"}}
                <span class="lt-avatar__badge js-open-tickets-badge" aria-hidden="true"></span>
              </span>
              <span class="sr-only">{{user_name}}</span>
              <!-- 
              <span class="lt-ms-2 lt-d-lg-none" aria-hidden="true">{{user_name class="user-name "}}</span>
              <svg class="lt-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                <use xlink:href="#icon-chevron-down"></use>
              </svg> -->
            </button>
            <div class="lt-dropdown-menu lt-user-info__menu" role="menu">
              {{#my_profile role="menuitem"}}{{t 'profile'}}{{/my_profile}}
              {{link "requests" role="menuitem"}}
              {{#link "contributions" role="menuitem"}}{{t "contributions"}}{{/link}}
              {{#link "subscriptions" role="menuitem"}}{{t "subscriptions"}}{{/link}}
              {{contact_details role="menuitem"}}
              {{change_password role="menuitem"}}
              {{link "sign_out" role="menuitem"}}
            </div>
          </div>
        {{else}}
          {{#if settings.show_sign_in}}
            {{#link "sign_in" class='lt-btn lt-btn--topbar'}}
              {{t 'sign_in'}}
            {{/link}}
          {{/if}}
        {{/if}}
      </nav>
    </div>
  </header>
  <div class="lt-layout__main">
